@import "./components/header.scss";
@import "./components/sidebar.scss";
@import "./components/postCard.scss";
@import "./components/welcomeSign.scss";
@import "./components/navigationDown.scss";
@import "./components/navigationBack.scss";
@import "./components/footer.scss";
@import "./pages/post.scss";
@import "./pages/posts.scss";
@import "./variables.scss";
main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  .recent-posts-container {
    width: 70%;
    align-self: center;
  }
  .home-title {
    color: #f9f9f9;
    font-size: 30px;
    margin: 40px 0px;
  }
  .posts-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.main-container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
