$box-shadow: -3px -3px 7px rgba(
      $color: #efcfc5,
      $alpha: 0.1,
    ),
  3px 3px 5px
    rgba(
      $color: #291f32,
      $alpha: 0.7,
    );

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1b1b1b;
  color: white;
  z-index: 1000;
  .logo {
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav-links {
    display: flex;
    gap: 20px;
    li {
      align-self: center;
      list-style-type: none;
    }
    a {
      font-size: 14px;
      padding: 8px 16px;
      color: #888888;
      border-radius: 10px;
      background-color: #1b1b1b;
      text-decoration: none;
      transition: 0.3s;
    }
    a:hover {
      color: #ffffff;
      box-shadow: $box-shadow;
    }
    .selected {
      color: #ffffff;
      box-shadow: $box-shadow;
    }
    .language-selector {
      display: flex;
      flex-direction: row;
      align-items: center;
      .language-label {
        align-self: center;
        font-size: 14px;
        padding: 20px;
        color: #888888;
        border-radius: 10px;
        background-color: #1b1b1b;
      }
      .language-button {
        background: none;
        width: 100%;
        border: none;
      }
    }
  }
  .search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    input {
      width: 25%;
      min-width: 170px;
      padding: 10px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      background-color: #444;
      color: #888888;
      transition: 0.3s;
    }
    input::placeholder {
      color: #bbb;
    }
    input:focus {
      box-shadow: $box-shadow;
      outline: none;
    }
  }
  .deactivated {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      a {
        padding: 10px 20px;
        text-align: center;
      }
    }
    .active {
      display: flex;
    }
    .menu-toggle {
      display: block;
      font-size: 2rem;
      background: none;
      border: none;
      color: white;
    }
  }
}
