$box-shadow: -3px -3px 7px rgba(
      $color: #efcfc5,
      $alpha: 0.1,
    ),
  3px 3px 5px
    rgba(
      $color: #070707,
      $alpha: 0.7,
    );

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  color: white;
  z-index: 1000;
  .logo {
    padding: 10px;
    text-align: left;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 33%;
    &-link {
      display: flex;
      justify-content: flex-start;
      width: fit-content;
    }
    .motion {
      width: fit-content;
    }
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 33%;
    gap: 20px;
    li {
      align-self: center;
      list-style-type: none;
      width: 70px;
    }
    a {
      font-size: 14px;
      padding: 8px 16px;
      color: #888888;
      border-radius: 10px;
      text-decoration: none;
      transition: 0.3s;
    }
    a:hover {
      color: #ffffff;
      box-shadow: $box-shadow;
    }
    .selected {
      color: #ffffff;
      box-shadow: $box-shadow;
    }
    .language-selector {
      display: flex;
      flex-direction: row;
      align-items: center;
      .language-button {
        background: none;
        width: fit-content;
        border: none;
      }
    }
  }
}
.search-bar {
  width: 33%;
  display: flex;
  justify-content: center;
  input {
    width: 100%;
    min-width: 170px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #888888;
    transition: 0.3s;
  }
  input::placeholder {
    color: #bbb;
  }
  input:focus {
    box-shadow: $box-shadow;
    outline: none;
  }
}
.deactivated {
  display: none;
}
.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    .logo {
      width: fit-content;
      z-index: 1001;
    }
    .search-bar {
      width: 50%;
    }
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      width: 100vw;
      height: 100vh;

      position: fixed;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      a {
        padding: 10px 20px;
        text-align: center;
      }
    }
    .active {
      position: absolute;
      display: flex;
      width: 100%;
      background-color: rgba(0, 0, 0, 1);
      justify-content: center;
      gap: 0;
      li {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        margin: 10px 0;
        background: none;
        border: none;
        &:hover {
          background: none;
        }
        a {
          font-size: 24px;
        }
      }
      .language-selector {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px 0;
        margin: 10px 0;
        gap: 10px;
        .language-button {
          svg {
            width: 36px;
            height: 36px;
          }
        }
      }
    }
    .menu-toggle {
      display: block;
      font-size: 2rem;
      background: none;
      border: none;
      color: white;
      z-index: 1001;
    }
  }
}
