.motion-back {
  width: 10%;
  height: 30px;
  .go-back {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .back-icon {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 768px) {
  .motion-back {
    width: fit-content;
    height: fit-content;
    .go-back {
      .back-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
