.welcome-container {
  height: calc(100vh - 70px);
  user-select: none;
  .info-content {
    position: absolute;
    display: flex;
    align-self: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 55px;
    div {
      margin-top: 15%;
      .title {
        font-size: 96px;
        letter-spacing: -3px;
      }
      .subtitle {
        min-width: 750px;
        font-size: 24px;
        letter-spacing: 3px;
        font-style: italic;
      }
    }
    .image {
      margin-top: 100px;
      width: auto;
      height: 500px;
      z-index: -10;
    }
  }

  .image-wallpaper {
    width: 100vw;
    object-fit: cover;
    height: calc(100vh - 70px);
    position: absolute;
    left: 0;
    overflow: hidden;
    z-index: -1000;
  }
}
