.posts-container {
  max-width: 1000px;
  padding: 2rem;
  background-color: #291f32;
  color: #f9f9f9;
  border-radius: 8px;
}

.posts-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-top: 20px;
}

.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  padding: 1rem;
  border-radius: 6px;
  background-color: #83617f;
  transition: 0.2s;
  color: #ecc5b9;
}

.post-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: #efcfc5;
}

.post-item h2 {
  font-size: 1.5rem;
}

.post-meta {
  font-size: 0.9rem;
  margin: 0.5rem;
  color: #291f32;
}
