@use "styles/variables.scss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: $primary;
    --foreground: $text-black;
  }
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  color: variables.$text-black;
  background: variables.$primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
